{% extends "layout.html" %}
  
{% block body_content %}
<div>
    {% for film in films %}
    <div class="Film_List">
        <h2>{{ film.title }} <span style="font-size: 16px">({{ film.year }})</span>  <span style="font-size: 10px;">{{ film.age }}</span></br>
        <span style="font-size: 14px;">{{ film.director }}, {{ film.genre }}, {{ film.formating }}</span></h3>
        <p>{{ film.description }}</br>
        <span style="font-size: 10px;">{{ film.code }}</span></p>
        {% if current_user.is_authenticated %}
        <ul>
            <li style="text-decoration: none; display: block; float: left; margin-right: 5px;">
                <form action="{{ url_for('add_collection', film = film.id) }}">
                    <button type="submit">I own this Movie</button>
                </form>
            </li>
            <li style="text-decoration: none; display: block; float: left; margin-right: 5px;">
                <form action="{{ url_for('edit_movie', filmID = film.id) }}">
                    <button type="submit">Edit this Movie</button>
                </form>
            </li>
            <li style="text-decoration: none; display: block; float: left;">
                <form action="{{ url_for('delete', filmID = film.id) }}">
                    <button type="submit">Delete this Movie</button>
                </form>
            </li>
        </ul>
        {% endif %}
        <br>
    </div>
    {% endfor %}
</div>
{% endblock %}