{% extends "layout.html" %}
  
{% block body_content %}
<div>
    {% for collection in films %}
    <div class="Film_List">
        <h2>{{ collection.owners.title }} <span style="font-size: 16px">({{ collection.owners.year }})</span>  <span style="font-size: 10px;">{{ collection.owners.age }}</span></br>
        <span style="font-size: 14px;">{{ collection.owners.director }}, {{ collection.owners.genre }}, {{ collection.owners.formating }}</span></h3>
        <p>{{ collection.owners.description }}</br>
        <span style="font-size: 10px;">{{ collection.owners.code }}</span></p>
        <form action="{{ url_for('remove_collection', film = collection.owners.id) }}">
                <button type="submit">remove from collection</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}