[Unit]

Description=Flask_Book

[Service]

User=jenkins

ExecStart=/var/lib/jenkins/workspace/Flask_book/script/installation.sh

[Install]

WantedBy=multi-user.target